.interface {
  font-size: 24px;
  text-align: center;
  padding: 12px;
  font-weight: 700;
  border-bottom: 2px solid #333;
}

.result {
  display: flex;
  flex-wrap: wrap;

  .custom-class {
    padding: 8px;
  }
}
