.interface-main {
  padding-left: 18%;

  .interface {
    font-size: 24px;
    padding: 12px 0;
    font-weight: 700;
    position: fixed;
    border-bottom: 2px solid #333;
    width: 100%;
    background-color: white;
    text-align: center;
    padding-right: 9%;
  }

  .result {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    padding-top: 60px;

    .custom-class {
      padding: 8px;
    }

    .info {
      padding-bottom: 12px;
      width: 100%;
    }
  }
}
